/* General styles for both user and admin pages */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edecec;
    overflow-y: auto;
}

header {
    background-color: #1C5730;
    color: #ffffff;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1090px;
}

.logo-text {
    display: flex;
    align-items: center;
}

.pho-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-top: 6px;
}

.pho-label {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pho-label h2 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
}

.pho-label h4 {
    font-weight: normal;
    margin: 0;
}

.pho-label h2 a,
.pho-label h4 a,
.pho-link {
    color: #ffffff;
    text-decoration: none;
}

.pho-label h2 a:hover,
.pho-label h4 a:hover,
.pho-link:hover {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 20px; /* Adjust the space between links */
    font-size: 15px;
}

.links a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.links a:hover {
    color: #81A263; /* Color change on hover */
}

.plot-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.plotly .modebar-container svg:first-child {
    display: none !important;
}

.barangay-plot {
    width: 100%; /* Set the width to 100% of its container */
    height: 750px; /* Increased height for better fit */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leaflet-control-zoom {
    display: none;
}

.side-by-side-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.map-container {
    flex: 1;
    min-width: 300px;
    height: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plot-title-container {
    display: flex;
    flex-direction: column;
}

/* CSS for plot sections and year-select */
.plot-section {
    margin-bottom: 40px;
    overflow: hidden;
    clear: both;
}

#year-select {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    float: right;
    margin-top: -40px;
}

#year-select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#year-select:hover {
    border-color: #888;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#year-select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

#year-select option[disabled] {
    color: #aaa;
}

/* General style for the select box */
#municipality-select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style for the dropdown arrow */
#municipality-select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Style on hover */
#municipality-select:hover {
    border-color: #888;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style on focus */
#municipality-select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

/* Style for the disabled option */
#municipality-select option[disabled] {
    color: #aaa;
}

.municipality-plot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.municipality-plot {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.municipality-plot h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 740px) {
    .map-container, .plot-title-container {
        flex-basis: 100%;
        min-width: unset;
    }

    .container-header {
        padding: 10px;
    }

    .logo-text {
        align-items: center;
        text-align: center;
    }

    .pho-logo {
        margin-bottom: 10px;
    }
}
