body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edecec;
    overflow-y: auto;
}

.main-content {
    margin-top: 70px; /* Adjust this to match the header height */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    max-width: 1100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

#searchBar {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.scrollable-table {
    overflow-y: auto;
    max-height: 400px; 
    width: 100%;
}

tr.selected {
    background-color: #d3d3d3; 
}

table tbody tr:hover {
    background-color: #f0f0f0; 
    cursor: pointer; 
}

table tbody tr.selected {
    background-color: #d3d3d3; 
}

table tbody tr.selected:hover {
    background-color: #d3d3d3;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.approve-btn {
    background-color: #1C5730;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.reject-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
    border-radius: 4px;
}
