/* repository.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edecec;
    overflow-y: auto;
}

.main-content {
    margin-top: 70px; /* Adjust this to match the header height */
}

main {
    padding: 20px;
    max-width: 1090px;
    margin: 0 auto;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.folder-container {
    display: flex;
    flex-direction: column;
}

.folder {
    margin-bottom: 20px;
}

.folder-name {
    font-size: 1.5em;
    cursor: pointer;
    color: #1C5730;
    margin: 0;
}

.file-list {
    display: none;
    margin-top: 10px;
}

.file-list ul {
    list-style: none;
    padding: 0;
}

.file-list li {
    margin-bottom: 5px;
}

.file-list a {
    color: #1C5730;
    text-decoration: none;
}

.file-list a:hover {
    text-decoration: underline;
}
