<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="logo-text">
                <a href="/admin" class="pho-link">
                    <img src="{{ url_for('static', filename='img/PHO-logo.png') }}" alt="Provincial Health Office Logo" class="pho-logo">
                    <div class="pho-label">
                        <h2><a href="/admin">Provincial Health Office</a></h2>
                        <h4><a href="/admin">Santa Cruz Laguna</a></h4>
                    </div>
                </a>
            </div>
            <div class="links">
                <a href="/approve_accounts" class="pho-link">Accounts</a>
                <a href="/repository" class="pho-link">Repository</a>
                <a href="{{ url_for('predict') }}" class="pho-link">Predict</a>
                <a href="/">Logout</a>
            </div>
        </div>
    </header>
    
    <div class="plot-container">
        <div class="plot-section">
            <h2>Total Distribution of Dengue Cases by Municipality</h2>
            <div class="side-by-side-container">
                <div id="mapid" class="map-container"></div>
                <div id="municipality-plot" class="municipality-plot">
                    {{ cases_per_municipality_html | safe }}
                </div>
            </div>
        </div>
        
        <div class="plot-section">
            <h2>Distribution of Dengue Cases by Barangay</h2>
            <select id="municipality-select" onchange="updatePlot()">
                <option value="" selected disabled>Select Municipality</option>
                <option value="Famy">Famy</option>
                <option value="Kalayaan">Kalayaan</option>
                <option value="Mabitac">Mabitac</option>
                <option value="Paete">Paete</option>
                <option value="Pakil">Pakil</option>
                <option value="Pangil">Pangil</option>
                <option value="Santa Maria">Santa Maria</option>
                <option value="Siniloan">Siniloan</option>
            </select>
            <div id="barangay-plots">
                {% for municipality, plot_html in plots.items() %}
                    <div id="{{ municipality }}" class="barangay-plot" style="display: none;">
                        {{ plot_html | safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        
        <div class="plot-section">
            <h2>Total Distribution of Dengue Cases by Month of Admission</h2>
            <div id="month-distribution-plot">
                {{ month_distribution_html | safe }}
            </div>
        </div>
        
        <select id="year-select" >
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>

        <div class="plot-section">
            <h2>Total Distribution of Dengue Cases by Age and Gender</h2>
            <div class="age-gender-plot">
                {{ age_gender_html | safe }}
            </div>
        </div>

        <div class="plot-section">
            <h2>Total Distribution of Dengue Cases by Blood Type</h2>
            <div class="blood-type-plot">
                {{ blood_type_html | safe }}
            </div>
        </div>
    </div>

    <script id="plots-data" type="application/json">{{ plots | tojson | safe }}</script>
    <script id="cases-municipality-data" type="application/json">{{ cases_per_municipality_data | tojson | safe }}</script>

    <script>
        function updatePlot() {
            var selectedMunicipality = document.getElementById("municipality-select").value;
            var allPlots = JSON.parse(document.getElementById("plots-data").textContent);
            
            var allPlotDivs = document.querySelectorAll('.barangay-plot');
            allPlotDivs.forEach(function(div) {
                div.style.display = 'none';
            });

            var plotDivId = selectedMunicipality && allPlots[selectedMunicipality] ? selectedMunicipality : 'Famy';
            var plotElement = document.getElementById(plotDivId);
            if (plotElement) {
                plotElement.style.display = 'block';
            } else {
                console.error("Element with ID '" + plotDivId + "' not found.");
            }
        }

        window.onload = function() {
            updatePlot();
            initMap();
            updateMonthlyAdmission();
        };

        var map;
        var highlightedLayer;
        var casesPerMunicipalityData = JSON.parse(document.getElementById("cases-municipality-data").textContent);
        var municipalities = {
            "Famy": [14.475869108370407, 121.4856023346167],
            "Kalayaan": [14.340728677051292, 121.55676751306875],
            "Mabitac": [14.4595888985302, 121.3877238592891],
            "Paete": [14.388786178448663, 121.55749437914757],
            "Pakil": [14.399821625432681, 121.52084724645835],
            "Pangil": [14.419627955545232, 121.51348199674797],
            "Santa Maria": [14.52285005940211, 121.4372925853042],
            "Siniloan": [14.441613893205306, 121.4999233814948]
        };

        function removeHighlight() {
            if (highlightedLayer) {
                map.removeLayer(highlightedLayer);
                highlightedLayer = null;
            }
        }

        function createMarker(municipality, coordinates, cases) {
            var marker = L.marker(coordinates).addTo(map);
            marker.bindPopup("<b>" + municipality + "</b><br>Cases: " + cases);
            marker.on('mouseover', function() {
                marker.openPopup();
                highlightMunicipality(municipality);
            });
            marker.on('mouseout', function() {
                marker.closePopup();
                removeHighlight();
            });
        }

        function highlightMunicipality(municipality) {
            console.log("Highlighting municipality:", municipality);
            var highlightStyle = {
                "color": "red",
                "weight": 2,
                "opacity": 1,
                "dashArray": "5 5"
            };

            fetch('{{ url_for("static", filename="maps_data.geojson") }}')
                .then(response => {
                    console.log("GeoJSON fetched:", response);
                    return response.json();
                })
                .then(data => {
                    console.log("GeoJSON data:", data);
                    var selectedMunicipalities = data.features.filter(
                        feature => feature.properties.NAME_2.toLowerCase() === municipality.toLowerCase()
                    );

                    if (selectedMunicipalities.length > 0) {
                        var mergedGeoJSON = {
                            "type": "FeatureCollection",
                            "features": selectedMunicipalities
                        };

                        if (highlightedLayer) {
                            map.removeLayer(highlightedLayer);
                        }
                        highlightedLayer = L.geoJSON(mergedGeoJSON, {
                            style: highlightStyle
                        }).addTo(map);
                        // Do not fitBounds here
                    } else {
                        console.error("Municipality not found in GeoJSON data:", municipality);
                    }
                })
                .catch(error => {
                    console.error('Error loading GeoJSON:', error);
                });
        }

        function initMap() {
            map = L.map('mapid', {
                zoomControl: false,
                zoomSnap: 0 // Disable snapping behavior
            });

            var districtBounds = [
                [14.4, 121.3],
                [14.5, 121.8]
            ];

            map.fitBounds(districtBounds);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 11,
            }).addTo(map);

            casesPerMunicipalityData.forEach(function(row) {
                createMarker(row['Muncity'], municipalities[row['Muncity']], row['Cases']);
            });

            map.dragging.disable();
            map.touchZoom.disable();
            map.doubleClickZoom.disable();
            map.scrollWheelZoom.disable();
            map.boxZoom.disable();
            map.keyboard.disable();

            if (map.tap) map.tap.disable();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/3.1.0/leaflet.ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.4/leaflet-omnivore.min.js"></script>
</body>
</html>
