<!-- header.html -->
<div class="container-header">
    <div class="navigation">
        <div class="logo-text">
            <img src="{{ url_for('static', filename='img/PHO-logo.png') }}" alt="Provincial Health Office Logo" class="pho-logo">
            <div class="pho-label">
                <h2>Provincial Health Office</h2>
                <h4>Santa Cruz Laguna</h4>
            </div>
        </div>
        <div class="menu-toggle"><i class="fas fa-bars"></i></div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#contact">Contact Us</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>
